<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="userFieldsAmount" value="5"/>
		<add key="userFieldName1" value="1"/>
		<add key="userFieldName2" value="1"/>
		<add key="userFieldName3" value="1"/>
		<add key="userFieldName4" value="1"/>
		<add key="userFieldName5" value="1"/>
	</appSettings>
</configuration>